.container{
	height:100%;
	width:100%;
	display:flex;
	background-color:white;
	background-size:100%;
	z-index:2;
}

.login{
	position:absolute;
	width:70%;
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	z-index:2;
	background-color:white
}
.back{
	position:absolute;
	color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	height:100%;
	z-index:4;
	overflow:hidden;
	background:none;
	background-color:#35c49c;
}
.message{
	position:relative;
	z-index:3;
	overflow:hidden;
	height:400px;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-left:45px;
	padding-right:45px;
}
.title{
	font-size:2.5rem;
	margin-top:200px;
}
.mcontent{
	margin-top:45px;
	font-size:1.5rem;
}

input{
	outline:none;
	border:1px solid #f2f5f3;
	height:25px;
	font-size:1.1rem;
	width:400px;
	padding: 5px 5px 5px 15px;
	margin-top:25px;
	border-radius:15px;
	background-color:#e8e7e3;
}

.button{
	cursor:pointer;
	z-index:3;
	width:50%;
	border-radius:25px;
	height:50px;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	font-weight:800;
	margin-top:80px;
}

.sign{
	background-color:#35c49c;
	color:white;
	width:20%;
}

/*.back:host {
	overflow:hidden;
	display:none;
}
*/

img{
	position:absolute;
	left:0px;top:0px;
	height:100%;
	width:100%;
	z-index:4;
	clip-path: inset(0% 100% 100% 70%)
}